*{
    padding:0;
    margin: 0;
}

html, body{
    background-color: hsl(212, 45%, 89%);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.codeContainer {
    top:0;
    left:0;
    width: 320px;
    height: auto;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

img {
    padding: 16px 16px 10px 16px;
    width: 90%;
    border-radius: 25px;
}

.textContainer {
    padding-top:10px;
    padding-bottom: 50px;
    width: 95%;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

#mainText{
    font-size: 21px;
    padding: 10px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

#bottomText{
    width: 90%;
    font-size:15px;
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    margin: auto;
}

footer{
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
}

@media screen and (max-width: 400px) {
    .codeContainer{
        width: 80vw;
    }
}